
vivado/*/runs/
vivado/*/cache/
vivado/*/hw/
vivado/*/ip_user_files/
vivado/*/sim/
vivado/*/webtalk/
vivado/*/Xil/
vivado/*/*.jou
vivado/*/*.log
vivado/*/*.xpr.lock


vivado/*/ip/*
!vivado/*/ip/*.xci


HLS/*/solution*/sim/
HLS/*/solution*/impl/
HLS/*/solution*/syn/
HLS/*/solution*/.autopilot.db/
HLS/*/solution*/.Xil/


*.tmp
*.bak
*.swp


!vivado/**/*.v
!vivado/**/*.vh
!vivado/**/*.sv
!vivado/**/*.vhd
!vivado/**/*.xdc
!vivado/**/*.xci
!vivado/**/*.xpr
!HLS/**/*.cpp
!HLS/**/*.h
!HLS/**/*.tcl
!HLS/**/*.prj
